@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500&family=Nunito:wght@400;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Wix+Madefor+Text&display=swap');

:root {
    --primary-color-one: #4a88a7;
    --primary-color-two: #282f3b;
    --primary-color-three: #f0f3f9;
    --color-white:#fff;
    --primary-color-four:#fafcff;
    --primary-color-five: #1f2530;
    --text-color-dark: #4a4e56;
    --text-color-dark-two: #888888;
    --text-color-light: #aaafb8;
    --heading-dark: #282f3b;
    --link-color-dark: #282f3b;
    --border-color-dark: #e4e7ee; 
    --border-color-dark-two:#373e4a;
    --border-color-light: #fbfcfe;
    --menu-color: #282f3b;
    --menu-color-white: #ffffff;
    --menu-dropdown-color: #282f3b;
    --menu-active-color: #4a88a7;
    --box-shadow: 0px 0px 40px 0px rgba(0,0,0,.09);
    --box-shadow-two: 0px 3px 16px 0px rgba(0 , 0 , 0 , .05);
    --footer-default-bgcolor: #1f2530;
    --preloader-background-color: #4a88a7;
    --bg-light-color-one:#F0F3F947;
    --bg-light-color-two:#F0F3F969;

}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color-dark);
}

a{
    text-decoration: none;
    color: var(--primary-color-one);
}

.spacing{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.centered{
    display: flex;
    justify-content: center;
}

.content-between{
    display: flex;
    justify-content: space-between;
}

.title-header{
    font-weight: 400;
    font-size: 20px;
}

.title-content{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Josefin Sans';
}

.text-content{
    font-weight: 300;
    font-size: 22px;
}

.mr-auto{
    margin-right: .5rem;
}

.sticky-top{
    top: -1px!important;
}

.spacing-2{
    padding-top: 5rem;
    padding-bottom: 5rem;
} 
.spacing-3{
    padding-top: 5rem;
    padding-bottom: 5rem;
} 

/*RESPONSIVE*/

@media(max-width: 992px){
    #ServicesDetail .row .col-lg-9{
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 19px!important;
    }
    .title-content{
        font-size: 40px!important;
    }
    .text-content{
        font-size: 20px!important;
    }
    .img-electrician{
        display: none;
    }
    .bottom-border{
        width: 100%!important;
    }
    .social-media{
        width: 100%!important;
    }
    .top-bar .container-lg .contact-info div{
        padding-left: 0rem!important;
    }        
    .spacing-3{
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }
  }
  
  /* Estilos para móviles */
  @media (max-width: 576px) {
    body {
    }
    #MainBanner{
        display: none;
    }
    /*#Services .slick-slider .slick-prev, #Services .slick-slider .slick-next{
        display: none!important;
    }*/
  }
  