#Clients {
    background-color: var(--primary-color-three);
}

#Clients .container-lg .text-center .title-header {
    color: var(--primary-color-one);
}

.fill-2 {
    fill: var(--primary-color-three) !important;
}

.slick-prev, .slick-next{
    display: none!important;
}

.logo-style{
    height: 100px;
    object-fit: scale-down;
}