#Services{
    background-color: var(--primary-color-two);
}
#Services .text-center{
    color: #fff;
}

#Services .content-frame{
    transform: scale(-1);
}

.card{
    border-radius: 10px;
    border: none;
}

.card-body{
    color: var(--primary-color-two);
    padding: 1.5rem;
}

.card-img-top{
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}

.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Josefin Sans';
}

.card-text{
    font-size: 1.2rem;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp:5;
}

.btnService{
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    color: var(--primary-color-one);
}

.btnService:hover{
    cursor: pointer;
    opacity: 70%;
    color: var(--primary-color-one);
}

.icon-box{
    width: 80%;
    margin-top: -3px;
}

.icon-box-border{
    background-color: var(--primary-color-one);
    height: .3rem;
    width: 100%;
}

.icon-box i{
    font-size: 2.5rem;
}

.bi-1-circle, .bi-2-circle, .bi-3-circle, .bi-4-circle, .bi-5-circle, .bi-6-circle, .bi-7-circle{
    background-color: var(--primary-color-one);
    color: #fff;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}



.slick-slider{
    display: flex!important;
    justify-content: center;
}

.slick-slide{
    padding: 10px;
}
.slick-prev{
    left: -10px!important;
}
.slick-next{
    right: -10px!important;
}
.slick-prev:before, .slick-next:before{
    z-index: 99;
}

#Services .container-lg .d-flex .button .bi{
    color: var(--primary-color-three);
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

#Services .container-lg .d-flex .button .bi:hover{
    opacity: 70%;
    cursor: pointer;
}