.top-bar{
    background-color: var(--primary-color-two);
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
}
.top-bar .container-lg .contact-info div{
    padding-left: 2rem;
}
.top-bar .container-lg {
    font-size: 15px!important;
    padding: 1rem 0;
}
.top-bar .container-lg .contact-info div i{
    padding-right: 7px;
    color: var(--primary-color-one);
    font-size: 17px;
}
.top-bar .container-lg .d-flex p{
    padding-left: 2rem;
}
.top-bar{
    background-color: var(--primary-color-two);
    color: #ffffff;
}
.top-bar .container div p{
    margin-top: 1rem!important;
}
.button1{
    background-color: var(--primary-color-one);
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 15px;
}